<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.admin.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="cn.admin.pojo.po.SysUser" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USERACCOUNT" property="useraccount" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="JOBNUMBER" property="jobnumber" jdbcType="VARCHAR" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="VARCHAR" />
    <result column="SALT" property="salt" jdbcType="VARCHAR" />
    <result column="WORKTYPE" property="worktype" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USERACCOUNT, USERNAME, SEX, JOBNUMBER, DEPARTMENT, TEL, NOTE, PASSWORD, AGE, 
    SALT, WORKTYPE, POSITION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.admin.pojo.po.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ADMIN.SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ADMIN.SYS_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ADMIN.SYS_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.admin.pojo.po.SysUserExample" >
    delete from ADMIN.SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.admin.pojo.po.SysUser" >
    insert into ADMIN.SYS_USER (ID, USERACCOUNT, USERNAME, 
      SEX, JOBNUMBER, DEPARTMENT, 
      TEL, NOTE, PASSWORD, 
      AGE, SALT, WORKTYPE, 
      POSITION)
    values (#{id,jdbcType=VARCHAR}, #{useraccount,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{jobnumber,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{age,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{worktype,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.admin.pojo.po.SysUser" >
    insert into ADMIN.SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="useraccount != null" >
        USERACCOUNT,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="jobnumber != null" >
        JOBNUMBER,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="salt != null" >
        SALT,
      </if>
      <if test="worktype != null" >
        WORKTYPE,
      </if>
      <if test="position != null" >
        POSITION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="useraccount != null" >
        #{useraccount,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="jobnumber != null" >
        #{jobnumber,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="worktype != null" >
        #{worktype,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.admin.pojo.po.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from ADMIN.SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ADMIN.SYS_USER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.useraccount != null" >
        USERACCOUNT = #{record.useraccount,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.jobnumber != null" >
        JOBNUMBER = #{record.jobnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null" >
        DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        NOTE = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        AGE = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.salt != null" >
        SALT = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.worktype != null" >
        WORKTYPE = #{record.worktype,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        POSITION = #{record.position,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ADMIN.SYS_USER
    set ID = #{record.id,jdbcType=VARCHAR},
      USERACCOUNT = #{record.useraccount,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      JOBNUMBER = #{record.jobnumber,jdbcType=VARCHAR},
      DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      TEL = #{record.tel,jdbcType=VARCHAR},
      NOTE = #{record.note,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      AGE = #{record.age,jdbcType=VARCHAR},
      SALT = #{record.salt,jdbcType=VARCHAR},
      WORKTYPE = #{record.worktype,jdbcType=VARCHAR},
      POSITION = #{record.position,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.admin.pojo.po.SysUser" >
    update ADMIN.SYS_USER
    <set >
      <if test="useraccount != null" >
        USERACCOUNT = #{useraccount,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="jobnumber != null" >
        JOBNUMBER = #{jobnumber,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="worktype != null" >
        WORKTYPE = #{worktype,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.admin.pojo.po.SysUser" >
    update ADMIN.SYS_USER
    set USERACCOUNT = #{useraccount,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      JOBNUMBER = #{jobnumber,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR},
      WORKTYPE = #{worktype,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>